<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carrito de compras</title>
    <%- include('../partials/head') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/cart.js"></script>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main class="flex-box is-centered">        
        <section class="col-s-10">
            <h2>Finalizá tu compra:</h2>
        </section>
        
        <%if (products.length >0){%>
            <% products.forEach((product) => { %>
                <div class="producto-carrito col-s-10 flex-box">
                    <section class="col-s-6 col-4">
                        <a href="/products/<%= product.id%>">
                            <img
                            class="disco-list-tapa"
                            src="/images/tapas/<%= product.cover%>"
                            alt="Tapa del disco"
                            />
                        </a>
                    </section>
                    
                    <section class="col-s-6 col-7 detalle-producto is-relative">
                        <button class="eliminar-producto-carrito">
                            <i class="fas fa-times-circle"></i><!--<%= product.id%>-->
                        </button>    
                        <p><strong><%= product.artist.name%> - <%= product.title%></strong></p>
                        <p>$<%= product.price%></p>
                        <p>
                            <strong>Cantidad: </strong>
                            <input
                            class="form-box"
                            type="number"
                            name="cantidad"
                            id="cantidad"
                            step="1"
                            min="1"
                            max="<%= product.stock%>"
                            value="<%= product.ammount%>"
                            />
                        </p>
                        <p><strong>Subtotal: </strong> $<%= product.price * product.ammount%></p>
                    </section>
                </div>
                <%})%>
            <%} else {%>
                <div class="col-s10">
                    <h2>Aún no has agregado productos al carrito...</h2>
                </div>
            <%}%>
            
            <div class="col-s-10 flex-box is-centered">
                <h2 class="col-s-12">Total a pagar:</h2>
                <form class="col-s-12 flex-box" action="/" method="GET">
                        <div class="col-s-12 flex-box">
                            <div class="col-s-6"><strong> Subtotal: </strong></div>
                            <div class="col-s-6">
                                $<%= total%>
                            </div>
                        </div>
                        <div class="col-s-12 flex-box">
                            <div class="col-s-6"><strong>Envío: </strong></div>
                            <div class="col-s-6 flex-box form-box">
                                <input class="col-" type="text" name="envio" id= "envio" placeholder="Dirección de envio..." required>
                            </div>
                        </div>
                        <div class="col-s-12 flex-box">
                            <div class="col-s-6"><strong> Total: </strong></div>
                            <div class="col-s-6">
                                $<%= total%>
                            </div>
                        </div>
                    <button class="boton boton-primary" type="submit">
                        Finalizar Compra
                    </button>
                </form>
            </div>
        </main>
        
        <%- include('../partials/footer') %>
    </body>
    </html>