<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Carrito de compras</title>
    <%- include('../partials/head') %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
      integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/js/cart.js"></script>
  </head>
  <body>
    <%- include('../partials/header') %>

    <main class="flex-box is-centered">
      <section class="col-s-10">
        <h2>Finalizá tu compra:</h2>
      </section>

      <form id="form" class="col-s-12 flex-box" action="cart" method="POST">
        <%if (products.length >0){%> <% products.forEach((product) => { %>
        <div class="producto-carrito col-s-10 flex-box">
          <section class="col-s-6 col-4">
            <a href="/products/<%= product.id%>">
              <img
                class="disco-list-tapa"
                src="/images/tapas/<%= product.cover%>"
                alt="Tapa del disco"
              />
            </a>
            <div id="product-id"><!--<%= product.id%>--></div>
          </section>

          <section class="col-s-6 col-7 detalle-producto is-relative">
            <button class="eliminar-producto-carrito" value="<%= product.id%>">
              <i class="fas fa-times-circle"></i>
            </button>
            <input
              type="hidden"
              id="product"
              name="product"
              value="<%= product.id%>"
            />
            <br />
            <p>
              <strong><%= product.artist.name%> - <%= product.title%></strong>
            </p>
            <p>$<%= product.price%></p>
            <p>
              <strong>Cantidad: </strong>
              <input
                class="form-box"
                type="number"
                name="cantidad"
                id="cantidad"
                step="1"
                min="1"
                max="<%= product.stock%>"
                value="<%= product.ammount%>"
              />
            </p>
            <p>
              <strong>Subtotal: </strong> $<%= product.price * product.ammount%>
            </p>
          </section>
        </div>
        <%})%>
        <div class="col-s-10 flex-box is-centered">
          <h2 class="col-s-12">Total a pagar:</h2>

          <div class="col-s-12 flex-box">
            <div class="col-s-6"><strong> Subtotal: </strong></div>
            <div class="col-s-6">$<%= total%></div>
          </div>
          <div class="col-s-12 flex-box">
            <div class="col-s-6 form-box">
              <strong>Envío: </strong> <br>
                <label>Calle:</label>
                <input type="text" name="street" placeholder="Calle" 
                autocomplete="true" required 
                <%if (typeof user != "undefined" && user.street) {%>
                    value="<%= user.street%>"
                <%}%>
                >
                <br>

                <label>Número:</label>
                <input type="text" name="number" placeholder="Número" 
                autocomplete="true" required
                <%if (typeof user != "undefined" && user.number) {%>
                    value="<%= user.number%>"
                <%}%>
                >
                <br>

                <label>Departamento:</label>
                <input type="text" name="apartment" placeholder="Departamento" 
                autocomplete="true" required
                <%if (typeof user != "undefined" && user.apartment) {%>
                    value="<%= user.apartment%>"
                <%}%>
                >
                <br>

                <label>Ciudad:</label>
                <input type="text" name="city" placeholder="Ciudad" 
                autocomplete="true" required
                <%if (typeof user != "undefined" && user.city) {%>
                    value="<%= user.city%>"
                <%}%>
                >
                <br>

                <label>Provincia:</label>
                <input type="text" name="province" placeholder="Provincia" 
                autocomplete="true" required
                <%if (typeof user != "undefined" && user.province) {%>
                    value="<%= user.province%>"
                <%}%>
                >
                <br>

                <label>Código Postal:</label>
                <input type="text" name="zip_code" placeholder="Código Postal" 
                autocomplete="true" required
                <%if (typeof user != "undefined" && user.zip_code) {%>
                    value="<%= user.zip_code%>"
                <%}%>
                >
          </div>
          <div class="col-s-12 flex-box">
            <div class="col-s-6"><strong> Total: </strong></div>
            <div class="col-s-6">$<%= total%></div>
          </div>
          <button id="submit" class="boton boton-primary" type="submit">
            Finalizar Compra
          </button>
        </div>
        <%} else {%>
        <div class="col-s10">
          <h2>Aún no has agregado productos al carrito...</h2>
        </div>
        <%}%>
      </form>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
