<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= product.title%></title>
    <%- include('../partials/head') %>
    <script type="text/javascript" src="/js/product-detail.js"></script>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main class="flex-box">
        <%if (locals.feedback) {%>
        <div class="aviso col-s-10" id="feedback">
            <i class="fas fa-check-circle"></i> <%= feedback%>
        </div>
        <%}%>

        <h2 class="col-s-12 align-center detalle-descripcion">
            <%= product.title%>
        </h2>
        
        <div class="col-10 flex-box is-centered">
            <section class="col-s-10 col-4">
                <img
                class="disco-list-tapa"
                src="/images/tapas/<%= product.cover%>"
                alt="Tapa del disco"
                />
            </section>
            
            <section class="detalle-product col-s-10 col-6">
                <p><%= product.artist.name%></p>
                <p><strong><%= product.title%></strong></p>
                <p>$<%= product.price%></p>
                
                <form
                class="form-box center-align"
                action="/products/cart/<%= product.id%>"
                method="POST"
                >
                    <input
                    type="number"
                    name="cantidad"
                    id="cantidad"
                    step="1"
                    min="1"
                    max="<%= product.stock%>"
                    value="1"
                    /><br>
                    <button id="cart-button" class="boton boton-primary" type="submit">
                        <%if (locals.feedback) {%>
                            Quitar del Carrito
                            <i class="fas fa-shopping-cart"></i>
                        <%} else {%>
                            Añadir al Carrito
                            <i class="fas fa-shopping-cart"></i>

                        <%}%>
                    </button>
                </form>
                <div class="existencias">
                    <i class="fas fa-thumbs-up"></i>Hay existencias
                </div>
            </section>
            <section class="col-s-10 flex-box left-align">
                <div class="col-3">
                    <h3>Características</h3>
                    <p>Sello: <%= product.label.name%></p>
                    <p>Formato: <%= product.format.name%> <%= product.format.diameter%>" <%= product.format.rpm%> rpm </p>
                    <p>Genero: <%= product.genre.name%></p>
                    <p>Fecha de Publicación:</p>
                    <p><%= product.publish_date%></p>
                </div>
                <div class="col-9">
                    <h3>Descripción</h3>
                    <p><%= product.description%></p>
                </div>
            </section>
        </div>
</main>

<%- include('../partials/footer') %>
</body>
</html>
