<!DOCTYPE html>
<html>
<head>
    <title>Editar Producto</title>
    <%- include('../partials/head')%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.1.17/validator.min.js" integrity="sha512-p1b+doSyVwyKqVTZeU1+XJtjpBSkhllBca2L6QTxPUjZZ0ELeZIHkAeQdtfNulbXxLdCwN4uKYGPpp78xeqwfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/edit.js"></script>
</head>
<body>
    <%- include('../partials/header') %>
    
    <div class="center-align">
        <h2>Editar producto:</h2>
    </div>
    
    <main class="flex-box abm-products">
        <form
        class="flex-box"
        action="/products/<%= product.id%>?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
        >
        <div class="col-4">
            <div>
                <img
                class="disco-list-tapa"
                src="/images/tapas/<%= product.cover%>"
                alt="Tapa del disco"
                />
            </div>
        </div>
        
        <div class="col-2"></div>
        
        <div class="col-xs-10 col-4">
            <div class="form-box left-align is-relative">
                <label>Título: </label>
                <p id="feedback-title" class="form-error"></p>
                <input
                type="text"
                id="titulo"
                name="titulo"
                value="<%= product.title%>"
                placeholder="Nombre del disco"
                autocomplete="true"
                required
                />
                <input type="hidden" name="highlight" id="highlight" value="<%= product.highlight%>">
                <button type="button" class="boton-estrella" id="star"><i class="fas fa-star"></i></button>
            </div>
            
            <div class="form-box left-align">
                <label>Artista: </label>
                <p id="feedback-artist" class="form-error"></p>
                <input
                type="text"
                id="artista"
                name="artista"
                value="<%= product.artist%>"
                placeholder="Artista"
                autocomplete="true"
                required
                />
            </div>
            
            <div class="form-box left-align">
                <label>Sello Discográfico: </label>
                <p id="feedback-label" class="form-error"></p>
                <input
                type="text"
                name="sello"
                id="sello"
                value="<%= product.label%>"
                placeholder="Sello discográfico"
                autocomplete="true"
                required
                />
            </div>
            
            <div class="form-box left-align">
                <label>Género: </label>
                <p id="feedback-genre" class="form-error"></p>
                <input
                type="text"
                name="genero"
                id="genero"
                value="<%= product.genre%>"
                placeholder="Género musical"
                autocomplete="true"
                required
                />
            </div>
            
            <div class="form-box left-align">
                <label>Fecha de Publicación: </label>
                <p id="feedback-publishing-date" class="form-error"></p>
                <input
                type="date"
                name="fechaPublicacion"
                id="fechaPublicacion"
                value="<%= product.publishDate%>"
                placeholder="Fecha de publicación"
                autocomplete="true"
                required
                />
            </div>
            
            <div class="form-box left-align">
                <label>Precio: </label>
                <p id="feedback-price" class="form-error"></p>
                <input
                type="text"
                name="precio"
                id="precio"
                value="<%= product.price%>"
                placeholder="Precio"
                required
                />
            </div>

            <div class="form-box left-align">
                <label>Stock: </label>
                <p id="feedback-stock" class="form-error"></p>
                <input
                type="number"
                name="stock"
                id="stock"
                value="<%= product.stock%>"
                placeholder="Stock"
                min="0"
                required
                />
            </div>
            
            <div class="form-box left-align">
                <label for="formato">Formato: </label>
                <p id="feedback-format" class="form-error"></p>
                <input
                type="text"
                name="formato"
                id="formato"
                value="<%= product.format%>"
                placeholder="Pulgadas"
                required
                />
            </div>

            <div class="form-box left-align">
                <label for="pulgadas">Pulgadas:</label>
                <p id="feedback-inches" class="form-error"></p>
                <select name="pulgadas" id="pulgadas">
                    <option value="7"
                    <%if(product.diameter == 7) {%>
                        selected
                    <%}%>
                    > 7"</option>
                  <option value="10"
                  <%if(product.diameter == 10) {%>
                    selected
                   <%}%>
                  >10"</option>
                  <option value="12"
                  <%if(product.diameter == 12) {%>
                    selected
                  <%}%>
                  >12"</option>
                </select>
                <label for="rpm">RPM's:</label>
                <p id="feedback-rpm" class="form-error"></p>
                <select name="rpm" id="rpm">
                    <option value="33"
                    <%if(product.rpm == 33) {%>
                        selected
                    <%}%>
                    >33 1/3</option>
                  <option value="45"
                  <%if(product.rpm == 45) {%>
                    selected
                   <%}%>
                  >45</option>
                  <option value="78"
                  <%if(product.rpm == 78) {%>
                    selected
                  <%}%>
                  >78</option>
                </select>
            </div>
            
            <div class="form-box left-align">
                <p>Agrega una imagen nueva a la tapa del disco:</p>
                <p id="feedback-cover" class="form-error"></p>
                <input type="file" name="tapa" id="tapa" />
            </div>
        </div>
        
        <div class="col-s-10 form-box left-align">
            <p>
                <label>Descripción del producto: </label>
            </p>
            <p id="feedback-description" class="form-error"></p>
            <textarea
            class="form-textarea"
            name="descripcion"
            id = "descripcion"
            ><%= product.description%>
            </textarea>
        </div>
        
        <div class="col-s-10 flex-box is-centered">
            <button class="boton boton-primary" type="submit">Editar Producto</button>
        </div>
    </form>
    
    <div class="col-s-10 flex-box is-centered">
        <form
        class="flex-box"
        action="/products/<%= product.id%>?_method=DELETE"
        method="POST"
        >
        <button class="boton boton-secondary" type="submit">Borrar Producto</button>
    </form>
</div>
</main>

<%- include('../partials/footer') %>
</body>
</html>
