<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carrito de compras</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    <main class="list-main flex-box">
        <div class="filter"></div>
        <div class="col-10 flex-box is-centered">
            <% products.forEach((product) => { %>
                <div class="disco-list-card col-3 col-s-6">
                    <a href="/products/<%= product.id%>">
                        <section>
                            <img
                            class="disco-list-tapa"
                            src="/images/tapas/<%= product.tapa%>"
                            alt="Tapa del disco"
                            />
                        </section>
                        <section class="descripcion-disco">
                            <div><%= product.artista%></div>
                            <div><%= product.titulo%></div>
                            <div>$<%= product.precio%></div>
                        </section>
                    </a>
                </div>
            <%})%>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>