<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carrito de compras</title>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main class="flex-box is-centered">
        <div class="aviso col-s-10"><i class="fas fa-check-circle"></i> Has añadido satisfactoriamente "Oasis - (What's the story?) Morning Glory" a tu carrito de compras</div>
        
        <section class="col-s-10">
            <h2>Finalizá tu compra: </h2>
        </section>
        
        <% products.forEach((product) => { %>
            <div class="producto-carrito col-s-10 flex-box">
                <section class="col-s-6 col-4">
                    <img class="disco-list-tapa" src="/images/tapas/<%= product.tapa%>" alt="Tapa del disco">
                </section>
                
                <section class="col-s-6 col-7 detalle-producto is-relative">
                    <i class="fas fa-times-circle eliminar-objeto"></i>
                    <p><%= product.artista%> - <%= product.titulo%></p>
                    <p>$<%= product.precio%></p>
                    <p>
                        <strong>Cantidad: </strong>
                        <input class="form-box" type="number" name="cantidad" id="cantidad" step="1" min="1" max="5" value="1">
                    </p>
                    <p><strong>Subtotal: </strong> $<%= product.precio%></p>
                </section>
            </div>
        <%})%>
        
        <div class="col-s-10">
            <h2>TOTAL DEL CARRITO: </h2>
            <div class="caja-total">
                <div class="subtotal-total"><strong> Subtotal: </strong></div>
                <div class= "subtotalTotal-valor"> $XXXXXXX</div>
                <div class= "envio"><strong>Envío: </strong></div>
                <div class="direccion-envio">Introduzca dirreccion de envío</div>
                <div class="total"><strong> Total: </strong></div>
                <div class= "total-valor"> $XXXXXXX</div>
            </div>
            <button class="boton-primary" type="submit">Finalizar Compra</button>
        </div>
    </main>
    
    <%- include('../partials/footer') %>
    
</body>
</html>