<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Finalizar Compra</title>
    <%- include('../partials/head') %>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"
      integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" src="/js/cart.js"></script>
  </head>
  <body>
    <%- include('../partials/header') %>

    <main class="flex-box is-centered">
      <section class="col-s-10">
        <h2>Finalizá tu compra:</h2>
      </section>

      <form id="form" class="col-s-12 flex-box" action="/products/cart/confirm" method="POST">
        <%if (products.length >0){%> <% products.forEach((product) => { %>
        <div class="producto-carrito col-s-10 flex-box">
          <section class="col-s-6 col-4">
            <a href="/products/<%= product.id%>">
              <img
                class="disco-list-tapa"
                src="/images/tapas/<%= product.cover%>"
                alt="Tapa del disco"
              />
            </a>
            <div id="product-id"><!--<%= product.id%>--></div>
          </section>

          <section class="col-s-6 col-7 detalle-producto is-relative">
            <p>
              <strong><%= product.artist.name%> - <%= product.title%></strong>
            </p>
            <p>$<%= product.price%></p>
            <p>
              <strong>Cantidad: <%= product.ammount%></strong>
            </p>
            <p>
              <strong>Subtotal: </strong> $<%= product.price * product.ammount%>
            </p>
          </section>
        </div>
        <%})%> <%} else {%>
        <div class="col-s10">
          <h2>Aún no has agregado productos al carrito...</h2>
        </div>
        <%}%>

        <div class="col-s-10 flex-box is-centered">
          <h2 class="col-s-12">Total a Pagar: $<%= total%></h2>
          <h3 class="col-s-12">Número de Compra: <%= cart.id%></h3>
          <input name="cart" type="hidden" value="<%= cart.id%>">

          <div class="col-s-12 flex-box">
            <div class="col-s-6"><strong>Información de Pago: </strong></div>
            <div class="col-s-6 flex-box form-box">
              <input
                class="col-xs-10"
                type="text"
                name="tarjeta"
                id="tarjeta"
                placeholder="Número de Tarjeta"
              />
              <input
                class="col-xs-3"
                type="text"
                name="vencimiento"
                id="vencimiento"
                placeholder="MM/AA"
              />
              <input
              class="col-xs-7"
              type="text"
              name="numSeguridad"
              id="numSeguridad"
              placeholder="Número de Seguridad de 3 dígitos"
            />
            </div>
          </div>
          
          <button id="submit" class="boton boton-primary col-xs-10 col-s-6" type="submit">
            Pagar
          </button>
        </div>
      </form>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>