<!DOCTYPE html>
<html>
<head>  
    <title>Login</title>
    <%- include('../partials/head')%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/validator/13.1.17/validator.min.js" integrity="sha512-p1b+doSyVwyKqVTZeU1+XJtjpBSkhllBca2L6QTxPUjZZ0ELeZIHkAeQdtfNulbXxLdCwN4uKYGPpp78xeqwfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
    <%- include('../partials/header') %>
    
    <main class="flex-box">
        <div class="div-users">
            <h2 class= ""> Ingresar </h2>

        
    

            <form id="form" action="/user/login" method="POST">
                <div class="form-box">
                    <p id= "feedback-email" class="form-error">
                        <% if (locals.errors && errors.email){ %>
                            <%= errors.email.msg %>
                        <%}%>
                        <% if (locals.errors && errors.login){ %>
                            <%= errors.login.msg %>
                        <%}%>
                    </p>
                    <input type="email" name="email" id="email" placeholder="Email"
                        autocomplete="true" required 
                        <% if (locals.errors && (errors.email|| errors.login)){%>
                            class="input-error"
                        <%}%>>
                </div>
                
                <div class="form-box">
                    <p id= "feedback-password" class="form-error">
                        <% if (locals.errors && errors.password){ %>
                            <%= errors.password.msg %>
                        <%}%>
                    </p>
                    <input type="password" name="password" id="password" placeholder="Contraseña" 
                        autocomplete="true" required
                        <% if (locals.errors && (errors.password||errors.login)){%>
                            class="input-error"
                        <%}%>>
                </div>
                
               <div class="form-box">
                    <input type="checkbox" name="recordar" value="recordar"> Recordar mi Contraseña
                </div>
                
                <div>
                    <button class= "boton boton-primary" type="submit"> Ingresar </button>
                    <button class= "boton boton-secondary" type="reset"> Borrar</button>
                </div>
                
                <a class="form-link" href="">Olvidé mi contraseña.</a> <br>
                <a  class="form-link" href="/user/registro">¿No tenés cuenta? Registrate acá</a>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %>
</body>
</html>

