<!DOCTYPE html>
<html lang="en">
<head>
    <title>Perfil</title>
	<%- include('../partials/head')%>
</head>
<body>

	<%- include('../partials/header') %>

	<main class="flex-box pt-2">
        <div class="col-xs-10 flex-box">
            <div class="col-xs-8 col-s-6 col-4">
                <img class="disco-list-tapa" src="/images/users/<%= user.avatar%>" alt="avatar">
            </div>

            <div class="col-xs-8 col-s-6 col-6 is-aligned-center flex-box">
                <div class="col-">
                    <h2>¡Hola <%= user.fname%>!</h2>
                </div>

                <div class="col-">
                    <h3>Información de Usuario</h3>
                    <ul>
                        <li><strong>Nombre: </strong> <%= user.fname%> <%= user.lname%></li>
                        <li><strong>Email: </strong> <%= user.email%></li>
                        <%if (user.role==1){%>
                        <li><strong>Dirección: </strong></li>
                        <form class="form-box flex-box"action="/user/address" method="POST">
                            <div class="col-">
                                <label>Calle:</label>
                                <input type="text" name="street" placeholder="Calle" 
                                autocomplete="true" required 
                                <%if (user.street) {%>
                                    value="<%= user.street%>"
                                <%}%>
                                >
                                <br>

                                <label>Número:</label>
                                <input type="text" name="number" placeholder="Número" 
                                autocomplete="true" required
                                <%if (user.number) {%>
                                    value="<%= user.number%>"
                                <%}%>
                                >
                                <br>

                                <label>Departamento:</label>
                                <input type="text" name="apartment" placeholder="Departamento" 
                                autocomplete="true" required
                                <%if (user.apartment) {%>
                                    value="<%= user.apartment%>"
                                <%}%>
                                >
                                <br>
        
                                <label>Ciudad:</label>
                                <input type="text" name="city" placeholder="Ciudad" 
                                autocomplete="true" required
                                <%if (user.city) {%>
                                    value="<%= user.city%>"
                                <%}%>
                                >
                                <br>

                                <label>Provincia:</label>
                                <input type="text" name="province" placeholder="Provincia" 
                                autocomplete="true" required
                                <%if (user.province) {%>
                                    value="<%= user.province%>"
                                <%}%>
                                >
                                <br>

                                <label>Código Postal:</label>
                                <input type="text" name="zip_code" placeholder="Código Postal" 
                                autocomplete="true" required
                                <%if (user.zip_code) {%>
                                    value="<%= user.zip_code%>"
                                <%}%>
                                >

                            </div>
    
                            <div class="col-">
                                <button class= "boton boton-primary" type="submit"> Confirmar </button>
                            </div>
                        </form>
                        <%}%>
                    </ul>
                </div>
            </div> 

            <div class="flex-box">
                <div class="col-s-6">
                    <h3>Cambiar Contraseña</h3>
                    <form class="form-box flex-box"action="/user/password" method="POST">
                        <div class="col- flex-box">
                            <input type="password" name="oldPassword" id="password" placeholder="Ingresa tu contraseña" 
                            autocomplete="true" required
                            <% if (locals.errors && (errors.password||errors.login)){%>
                                class="input-error"
                            <%}%>>
                            <br>
    
                            <input type="password" name="newPassword" id="password" placeholder="Nueva contraseña" 
                            autocomplete="true" required
                            <% if (locals.errors && (errors.password||errors.login)){%>
                                class="input-error"
                            <%}%>>
                            <br>
    
                            <input type="password" name="passwordConfirm" id="password" placeholder="Confirmar nueva contraseña" 
                            autocomplete="true" required
                            <% if (locals.errors && (errors.password||errors.login)){%>
                                class="input-error"
                            <%}%>>
                        </div>

                        <div class="col-">
                            <button class= "boton boton-primary" type="submit"> Confirmar </button>
                        </div>
                    </form>
                </div>

                <div class="col-s-6">
                    <form action="/user/avatar" method="POST" enctype="multipart/form-data" id="form">
                        <div class="form-box flex-box">
                            <h3>Cambiar foto de perfil:</h3>
                            <input
                              type="file"
                              name="avatar"
                              id="avatar"
                              class="col-"
                            >
                          </div>
                        <button class="boton boton-primary" type="submit">Enviar</button>
                    </form>
                </div>
            </div>

            <%if (user.role==1){%>
            <div class="col- flex-box">
                <div class="col-10">
                    <h2>Compras:</h2>
                        <%if (carts.length!=0) {%>
                        <table class="profile-table">
                            <tr>
                              <th>Id</th>
                              <th>Monto</th>
                              <th>Fecha</th>
                              <th>Productos</th>
                              <th>Estado</th>
                            </tr>
                            <% carts && carts.forEach(row => {%>
                            <tr>
                              <td><%= row.id %></td>
                              <td><%= row.total %></td>
                              <td><%= row.date.toString().slice(0, 24) %></td>
                              <td>
                                  <% row.products.forEach( product => {%>
                                    <p><%= product.ammount%> X <%= product.product.title%> </p>
                                  <%})%>
                              </td>
                              <td>
                                <% if (row.cart_state.state_name == "Pending") { %>
                                    <form action="/products/cart/pay" METHOD = "POST">
                                    <input name="cart" type="hidden" value="<%= row.id%>">
                                    <button type="submit">Pending</button>
                                    </form>
                                    
                                <%} else {%>
                                    <%= row.cart_state.state_name %>
                                <%}%>
                            </td>

                            </tr>
                            <%})%>
                        </table>
                        <%} else {%>
                            <h3>Aún no has realizado ninguna compra...</h3>
                        <%}%>
                </div>
            </div>
            <%}%>
        </div>

    
	</main>

	<%- include('../partials/footer') %>
</body>
</html>